.feedItem {
  border: 1px solid rgb(240, 240, 240);
}

.image {
  /* https://web.dev/articles/aspect-ratio#example_preventing_layout_shift */
  width: 100%;
  height: auto;
  max-width: 550px;
  aspect-ratio: 1 / 1;
}

.textContainer {
  padding: 0.8em 6% 1.4em 6%;
  border-top: 1px solid rgb(240, 240, 240);
  color: rgb(15, 17, 17);
}

.nameLink {
  color: rgb(15, 17, 17);
  text-decoration: none;
}

.ratingContainer {
  display: flex;
}

.ratingCount {
  margin-top: 0.1em;
  margin-left: 0.5em;
  font-size: 0.95em;
}

.price {
  margin-top: 0.8em;
  font-size: 1.1em;
  font-weight: 700;
}