/* CSS reset
https://create-react-app.dev/docs/adding-css-reset/ 
https://github.com/csstools/postcss-normalize */
@import-normalize;

*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
}