/* ===== Page Layout & Spacing ===== */

.pageXPadding {
  padding-left: 12.5%;
  padding-right: 12.5%;
}

@media screen and (max-width: 1400px) {
  .pageXPadding {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 768px) {
  .pageXPadding {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}